@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eeeff1;
  color: black;
  font-family: "Open Sans";
}
.cover {
  background-image: url("../../public/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cover2 {
  background-image: url("../../public/images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* effect-shine */
.effect-shine:hover {
  mask-image: linear-gradient(
    -75deg,
    rgba(12, 54, 204, 0.6) 30%,
    #454bfa 50%,
    rgba(84, 79, 255, 0.6) 70%
  );
  mask-size: 200%;
  animation: shine 3s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
