@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eeeff1;
  color: black;
  font-family: "Open Sans";
}
.cover {
  background-image: url("../../public/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cover2 {
  background-image: url("../../public/images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  appearance: none;
}
